<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Sign Scheduler -> Design Board</title>
      <link rel="stylesheet" type="text/css" href="../javascript/UI/Styles_DesignBoard.css">
      <script type="text/javascript" src="../javascript/jquery/jquery-3.7.1.js"></script>
      <script type="text/javascript" src="../javascript/Sortable/Sortable.js"></script>
      <script type="text/javascript" src="../javascript/UI/Styles.js" defer></script>
      <script type="text/javascript" src="../javascript/UI/UI.js"></script>
      <script type="text/javascript" src="../javascript/UI/UIContainerType3.js"></script>
      <script type="text/javascript" src="../javascript/UI/UIContainer_Design.js"></script>
      <script type="text/javascript" src="../javascript/UI/UIContainer_Design2.js"></script>
      <script type="text/javascript" src="../javascript/UI/Loader.js"></script>
      <script type="text/javascript" src="../javascript/Common/Common.js"></script>
      <script type="text/javascript" src="../javascript/Common/ObjectArray.js"></script>

      <script type="text/javascript" src="../javascript/Modal/Modal.js"></script>
      <script type="text/javascript" src="../javascript/Modal/ModalSingleInput.js"></script>
      <script type="text/javascript" src="../javascript/Modal/ModalPopOut.js"></script>
      <script type="text/javascript" src="../javascript/Modal/ModalSetOrder.js"></script>
      <script type="text/javascript" src="../javascript/Modal/ModalSingleInputText.js"></script>
      <script type="text/javascript" src="../javascript/Modal/ModalSingleInputCheckbox.js"></script>
      <script type="text/javascript" src="../javascript/Modal/ModalSingleInputWithCalcResult.js"></script>
      <script type="text/javascript" src="../javascript/Modal/ModalWidthHeightWithCalcResult.js"></script>
      <script type="text/javascript" src="../javascript/Modal/ModalToggleTokens.js"></script>
      <script type="text/javascript" src="../javascript/Modal/ModalWidthHeight.js"></script>

      <script type="text/javascript" src="../javascript/DesignBoard/JobBoard.js"></script>
      <script type="text/javascript" src="../javascript/DesignBoard/DesignBoard2.js"></script>
</head>
<body>
      <h1>Design Board Page</h1>
</body>
</html>